In [7]:
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf
import random

mylist = ["apple", "banana", "cherry"]
random.shuffle(mylist)

In [8]:
random.shuffle(mylist)

In [9]:
mylist

['banana', 'cherry', 'apple']

In [ ]:
tf.data.Dataset

In [33]:
data = pd.read_csv('finalproject_training.csv', index_col = 0)
[*data.columns].index('m_ret')

10

In [37]:
df = data.sample(frac=1).reset_index(drop=True)
TrainingSet = np.array(df.iloc[:int(0.8 * df.shape[0]),0:])
ValidationSet = np.array(df.iloc[int(0.8 * df.shape[0]):,0:])

In [38]:
df.iloc[:int(0.8 * df.shape[0]),1:]

,close,m_volume,m_high,m_low,close_adj,m_volume_adj,m_high_adj,m_low_adj,m_divs,m_ret,...,txpdy,costat,dvpspq,dvpsxq,mkvaltq,ggroup,gind,gsector,gsubind,sic
0,32.75,38787998,35.750,32.160,28.042914,38787998.0,30.329161,27.537714,0.647500,0.066428,...,1.000,A,0.6375,0.6375,24060.9270,1010,101020,10,10102040,4610
1,64.00,39888128,70.600,62.651,64.000000,39888128.0,70.600000,62.651000,0.000000,-0.023497,...,NaN,A,0.0000,0.0000,15211.8300,1010,101020,10,10102040,1311
2,93.84,26875696,95.600,92.800,91.660332,26875696.0,93.379451,90.644488,0.000000,0.077259,...,234.500,A,0.1900,0.2300,26118.8550,4520,452030,45,45203015,3678
3,3.42,3070685,4.550,3.280,3.322426,3070685.0,4.420187,3.186421,0.000000,0.058824,...,NaN,A,0.0000,0.0000,193.1904,2020,202010,20,20201060,7389
4,96.89,2175492,101.580,93.080,96.090655,2175492.0,100.741962,92.312087,0.000000,0.124405,...,30.295,A,0.1100,0.1100,898.4584,2010,201060,20,20106010,3523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84264,18.32,4380354,21.550,18.065,17.750078,4380354.0,20.688720,17.503011,0.180000,-0.081704,...,NaN,A,0.0000,0.0000,1289.5085,4520,452030,45,45203010,3823
84265,1.57,31799356,2.200,1.560,1.570000,31799356.0,2.200000,1.560000,0.000000,-0.237864,...,0.344,A,0.0000,0.0000,307.8515,1010,101020,10,10102030,5500
84266,2.80,405234,3.700,2.800,2.800000,405234.0,3.700000,2.800000,0.000000,-0.138462,...,NaN,A,0.0000,0.0000,24.0899,4520,452010,45,45201020,3357
84267,39.14,58918635,41.605,38.940,35.920735,58918635.0,38.182989,35.737185,0.601743,0.033263,...,1689.987,A,0.4956,0.4838,NaN,3520,352020,35,35202010,2834
84268,4.00,1112625,4.440,3.920,4.000000,1112625.0,4.440000,3.920000,0.000000,-0.040767,...,NaN,A,0.0000,0.0000,80.6130,3520,352010,35,35201010,2836

In [35]:
TrainingSet

array([[1.05, 29617855, 1.8, ..., 35, 35201010, 2836],
       [48.58, 4033174, 51.34, ..., 45, 45102020, 7374],
       [65.23, 1841134, 70.35, ..., 15, 15101050, 2834],
       ...,
       [5.72, 2449887, 7.51, ..., 10, 10101020, 1382],
       [169.68, 16504390, 181.51, ..., 20, 20104010, 3620],
       [55.67, 72404517, 61.58, ..., 25, 25203010, 2320]], dtype=object)

In [42]:
X1 = TrainingSet[:,11:14]
Y1 = TrainingSet[:,10]

X2 = ValidationSet[:,11:14]
Y2 = ValidationSet[:,10]

In [ ]:
# create model
model = Sequential()
model.add(Dense(20, activation="tanh", input_dim=5, kernel_initializer="uniform"))
model.add(Dense(1, activation="linear", kernel_initializer="uniform"))

# Compile model
model.compile(loss='mse', optimizer='adam', metrics=['accuracy'])

# Fit the model
model.fit(X1, Y1, epochs=100, batch_size=10,  verbose=2)

In [ ]:
# Calculate predictions
PredTestSet = model.predict(X1)
PredValSet = model.predict(X2)

# Save predictions
numpy.savetxt("trainresults.csv", PredTestSet, delimiter=",")
numpy.savetxt("valresults.csv", PredValSet, delimiter=",")

#Plot actual vs predition for training set
TestResults = numpy.genfromtxt("trainresults.csv", delimiter=",")
plt.plot(Y1,TestResults,'ro')
plt.title('Training Set')
plt.xlabel('Actual')
plt.ylabel('Predicted')

#Compute R-Square value for training set
TestR2Value = r2_score(Y1,TestResults)
print("Training Set R-Square=", TestR2Value)

#Plot actual vs predition for validation set
ValResults = numpy.genfromtxt("valresults.csv", delimiter=",")
plt.plot(Y2,ValResults,'ro')
plt.title('Validation Set')
plt.xlabel('Actual')
plt.ylabel('Predicted')

#Compute R-Square value for validation set
ValR2Value = r2_score(Y2,ValResults)
print("Validation Set R-Square=",ValR2Value)